.layout {
    background-image: url("https://images.twinkl.co.uk/tw1n/image/private/t_630_eco/website/uploaded/football-6-1674483025.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}