<div class="standings-wrapper">
    <table *ngIf="$leagueStandings | async as leagueStandings; else loading">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Games</th>
                <th>W</th>
                <th>L</th>
                <th>D</th>
                <th>Goal Difference</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let standing of leagueStandings.standings[0]; index as i"
                (click)="displayTeamGameResults(leagueStandings.id, leagueStandings.season, standing.team.id)"
            >
                <td>{{i}}</td>
                <td><img class="team-logo" [src]="standing.team.logo" /></td>
                <td>{{standing.team.name}}</td>
                <td>{{standing.all.played}}</td>
                <td>{{standing.all.win}}</td>
                <td>{{standing.all.lose}}</td>
                <td>{{standing.all.draw}}</td>
                <td>{{standing.goalsDiff}}</td>
                <td>{{standing.points}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
